<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">


                    <!-- Right side Header  -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="./images/error_page/error.png" height="300rem" width="300rem" alt="about image"
                                class="img-fluid">
                        </figure>
                        <!-- <p>Welcome To Whether App</p> -->
                        <h1 id="hed_404">Opps! Page Not Found</h1>
                        <a href="/" target="_Akash" style="margin-top: 3rem;"><button id="err_btn">Go To Home</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>